@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ----------- BASICS ------------ */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ------------ AUTH ----------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #121212;
}

.utility__page {
  position: absolute;
  display: flex;
  background-image: url('../public/images/homepage.jpg');
  background-size: contain;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

.utility__panel {
  position: absolute;
  display: flex;
  background-size: contain;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  bottom: 4vh;
}

button {
  display: flex;
  padding: 1rem 4rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button img {
  width: 20px;
  height: 20px;
}

.auth_title {
  font-size: 3rem;
  font-family: "Bradley Hand";
}

.home-title {
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  bottom: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-logo {
  position: absolute;
  align-items: center;
  justify-items: center;
  left: 70vh;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.user {
  display: flex;
  color: burlywood;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  align-items: center;
  column-gap: 1rem;
}

.logout {
  /*background: #d05454;*/
  color: #fff;
}

.profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.chat {
  position: absolute;
  background-color: ivory;
  border : 3px solid #d33c40 ;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
}

.typetext {
  position: fixed;
  width: 24.5%;
  right: 0.5vh;
  bottom: 3px;
}

.messages {
  font-family: Courier;
  position: fixed;
  padding-bottom: 3vh;
  top: 30px;
  right: 100px;
}

.msg {
  position: absolute;
  font-size: 12px;
  top: 50px;
  left: 10px;
  bottom: 35px;
  overflow-y: auto;
  scroll-behavior: auto;
}

.boardgame {
  position: absolute;
  width: 79.3%;
  height: 89%;
  bottom: 0;
  left: 0;
}

.boardCS {
  position: absolute;
  left: 450px;
  top: 250px;
}

.boardCW {
  position: absolute;
  left: 340px;
  top: 180px;
}

.boardCN {
  position: absolute;
  left: 450px;
  top: 100px;
}

.boardCE {
  position: absolute;
  left: 560px;
  top: 180px;
}

.choiceTitle {
  position: relative;
  align-content: center;
  font-family: 'Stanley';
  font-size: xx-large;
  left: 400px;
  top: 100px;
}

.p0 {
  color: royalblue;
}

.p1 {
  color: green;
}

.p2 {
  color: white
}

.p3 {
  color: orange;
}

.p4 {
  color: brown;
}

.p5 {
  color: royalblue;
}

.p6 {
  color: brown;
}

.p7 {
  color: yellow;
}

.p8 {
  color: grey;
}

.p9 {
  color: aqua;
}

.p10 {
  color: blueviolet;
}
